<mat-card class="director-dialog">
    <mat-card-title class="director-dialog-title">{{ data.Name }}</mat-card-title>
    <br />
    <mat-dialog-content class="director-dialog-content">
        <b>Birthday: </b>{{ data.Birth }}
        <br />
        <b>Bio: </b>{{ data.Bio }}
    </mat-dialog-content>
    <mat-card-actions class="director-actions">
        <button class="director-close-button" mat-raised-button aria-label="Close the director details button"
            mat-dialog-close>
            Close
        </button>
    </mat-card-actions>
</mat-card>