<mat-card class="summary-dialog">
    <mat-card-title class="summary-dialog-title">
        {{ data.Title }}
    </mat-card-title>
    <br />
    <mat-dialog-content class="summary-dialog-content">
        <b>Description: </b>{{ data.Description }}
    </mat-dialog-content>
    <mat-card-actions class="summary-actions">
        <button class="summary-close-button" mat-raised-button aria-label="Close the summary button" mat-dialog-close>
            Close
        </button>
    </mat-card-actions>
</mat-card>